<h1>Welcome Agent</h1>
<div class="row">
  <div class="col-md-2">
    <a href="/users/admindash" class="btn btn-primary btn-block">Home</a>
    <a href="/users/admindash1" class="btn btn-primary btn-block">Marker</a>
    <a href="/get-all-locations" class="btn btn-primary btn-block">Messages</a>
    <a href="/users/admindash3" class="btn btn-primary btn-block">Sentiment Analysis</a>
  </div>
  <div class="col-md-10">
    <center>
      <div id="main">

      </div>
    </center>
  </div>
</div>
